<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rev.sdk">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:name="com.rev.sdk.services.Configurator"
            android:exported="true"/>
        <service
            android:name="com.rev.sdk.services.Tester"
            android:exported="true"/>
        <service
            android:name="com.rev.sdk.services.Statist"
            android:exported="true"/>

        <receiver
            android:name="com.rev.sdk.listeners.NetListener"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <!--
                <provider
                    android:authorities="com.rev.sdk"
                    android:name=".RevContentProvider"
                    android:grantUriPermissions="true"
                    android:readPermission="android.permission.READ_STAT_DATABASE"
                    android:writePermission="android.permission.WRITE_STAT_DATABASE"
                    android:enabled="true"
                    android:multiprocess="true"
                    android:exported="true"
                    android:label="SporticsProvider">

                    <path-permission android:path="/"
                        android:readPermission="android.permission.READ_STAT_DATABASE"
                        android:writePermission="android.permission.WRITE_STAT_DATABASE"/>

                </provider>
        -->
    </application>
</manifest>
