<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuubit.tester">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_STAT_DATABASE" />
    <uses-permission android:name="android.permission.WRITE_STAT_DATABASE" />

    <application
        android:name=".NuubitApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--        <meta-data android:name="com.nuubit.key" android:value="cc354414-65ea-4003-8e92-1a3e3ec9374a"/> -->
        <meta-data
            android:name="com.nuubit.key"
            android:value="80bed752-6da6-4f47-8e95-f61de59e599d" />
<!--
        <meta-data
            android:name="com.nuubit.key"
            android:value="ed9071e7-7dc0-40ee-97bd-39b355fa5b92" />
-->
<!--
        <meta-data
            android:name="com.nuubit.key"
            android:value="ed9071e7-7dc0-40ee-97bd-39b355fa" />
-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>